apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  annotations: 
    config_revision : "{{ config_revision }}"
  labels:
    app.kubernetes.io/name: "alerta-webaddon"
    app.kubernetes.io/component: "management"
    app.kubernetes.io/instance: "{{ instance }}"
    app.kubernetes.io/managed-by: "operator"
  name: "{{ name }}"
spec:
  replicas: {{ count }}
  selector:
    matchLabels:
      app.kubernetes.io/name: "alerta-webaddon"
      app.kubernetes.io/component: "management"
      app.kubernetes.io/instance: "{{ instance }}"
  strategy: {}
  template:
    metadata:
      annotations: 
        config_revision : "{{ config_revision }}"
      creationTimestamp: null
      labels:
        app.kubernetes.io/name: "alerta-webaddon"
        app.kubernetes.io/component: "management"
        app.kubernetes.io/instance: "{{ instance }}"
    spec:
      containers:
      - image: "{{ image }}"
        name: "{{ name }}"
        ports:
        - containerPort: 23456
        resources: "{{ resources | default(omit) }}"
        affinity:
          podAntiAffinity:
            preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                  - key: run
                    operator: In
                    values:
                    - "{{ name }}"
                topologyKey: kubernetes.io/hostname
{% if alerta_webaddon_secret_exists is defined and alerta_webaddon_secret_exists|length %}
        envFrom:
        - secretRef:
            name: {{ secret }}
{% endif %}
status: {}
