apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: "alerta-webaddon"
    app.kubernetes.io/component: "management"
    app.kubernetes.io/instance: "{{ instance }}"
    app.kubernetes.io/managed-by: "operator"
  name: "{{ name }}"
spec:
  ports:
  - port: 23456
    protocol: TCP
    targetPort: 23456
  selector:
    app.kubernetes.io/name: "alerta-webaddon"
    app.kubernetes.io/component: "management"
    app.kubernetes.io/instance: "{{ instance }}"
status:
  loadBalancer: {}
