apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  name: "{{ name }}"
spec:
  ports:
  - port: 23456
    protocol: TCP
    targetPort: 23456
  selector:
    run: "{{ name }}"
status:
  loadBalancer: {}
