apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  annotations: 
    config_revision : "{{ config_revision }}"
  labels:
    app.kubernetes.io/name: "alerta"
    app.kubernetes.io/component: "monitoring"
    app.kubernetes.io/instance: "{{ instance }}"
    app.kubernetes.io/managed-by: "operator"
    run: "{{ name }}"
  name: "{{ name }}"
spec:
  replicas: {{ count }}
  selector:
    matchLabels:
      app.kubernetes.io/name: "alerta"
      app.kubernetes.io/component: "monitoring"
      app.kubernetes.io/instance: "{{ instance }}"
  strategy: {}
  template:
    metadata:
      annotations: 
        config_revision : "{{ config_revision }}"
      creationTimestamp: null
      labels:
        app.kubernetes.io/name: "alerta"
        app.kubernetes.io/component: "monitoring"
        app.kubernetes.io/instance: "{{ instance }}"
    spec:
      hostAliases:
{% if ldap_server_ip is defined and ldap_server_ip|length and 
      ldap_server_name is defined and ldap_server_name|length %}
      - ip: "{{ ldap_server_ip }}"
        hostnames:
        - "{{ ldap_server_name }}"
{% endif %}
      containers:
      - image: "{{ image }}"
        name: "{{ name }}"
        ports:
        - containerPort: 8080
        resources: "{{ resources | default(omit) }}"
        readinessProbe:
          httpGet:
            path: /login
            scheme: HTTP
            port: 8080
        livenessProbe:
          httpGet:
            path: /login
            scheme: HTTP
            port: 8080
        affinity:
          podAntiAffinity:
            preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                  - key: run
                    operator: In
                    values:
                    - "{{ name }}"
                topologyKey: kubernetes.io/hostname
{% if alerta_secret_exists is defined and alerta_secret_exists|length %}
        envFrom:
        - secretRef:
            name: {{ secret }}
{% endif %}
        volumeMounts:
{% if alerta_config_exists is defined and alerta_config_exists|length %}
        - name: alerta-config
          mountPath: /etc/alertad.conf
          subPath: alertad.conf
{% endif %}
      volumes:
{% if alerta_config_exists is defined and alerta_config_exists|length %}
      - configMap:
          name: "{{ config }}"
        name: alerta-config
{% endif %}
status: {}
